<app-menu></app-menu>
<section class="cursor-scale mini" id="panels">
  <div class="cursor"></div>
  <div id="panels-container" style="width: 300%">
    <article id="panel-1" class="panel pn1 full-screen s1">
      <div class="cta2">
        <img src="assets/img/Group%2011.png" alt="" class="img-fluid">
      </div>
      <div class="container-fluid">
        <div class="row ">
          <div class="col-md-6 text-start bt">
            <p class="font-section">
              Conoce Mayan Partners y <br>
              forma parte de la mayor
              <br>red de socios
              <br>inmobiliarios
            </p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="eb bet">
                Mayan Partners, es una comunidad de profesionales inmobiliarios que buscan
                exponenciar sus habilidades y acompañarle en el desarrollo de una carrera
                en el sector inmobiliario, logrando ingresos que cambiarán su estilo de vida.
              </p>
            </div>
          </div>
        </div>
        <div class="panels-navigation text-center">
          <div class="nav-panel" data-sign="plus">
            <i class="fas fa-arrow-right my-2 anchor" style="cursor: pointer" href="#panel-2"></i>
          </div>
        </div>
      </div>
    </article>
    <article id="panel-2" class="panel pn2 full-screen s2">
      <div class="container-fluid">
        <div class="row vista">
          <div class="col-md-12">
            <div class="row">
              <div class="offset-lg-6 col-md-12 col-lg-6 margin-right medio">
                <p class="font-section">
                  Nosotros te <br>
                  apoyamos en el <br>
                  desarrollo de tu <br>
                  carrera inmobiliaria</p>
              </div>
              <div class="offset-lg-6 col-md-6 medio">
                <div class="row">
                  <div class="col-md-10">
                    <p class="width ">
                      Buscamos potencializar tus habilidades y acompañarte en el desarrollo de una carrera en el sector inmobiliario,
                      logrando ingresos que cambiarán tu vida. Estamos asociados con los desarrollos que tienen mayor crecimiento y
                      vanguardia en sus esquemas de comercialización y pagos de comisiones; así mismo estaremos
                      al pendiente de una capacitación y desarrollo en los sectores relacionados a la industria
                      para que tú cuentes con los conocimientos del entorno inmobiliario en el país.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row vista1">
          <div class="col-md-6 text-start bt">
            <p class="font-section">
              Nosotros te <br>
              apoyamos en el <br>
              desarrollo de tu <br>
              carrera inmobiliaria</p>
          </div>
          <div class="row">
            <div class="col-md-8">
              <p class="eb">
                Buscamos potencializar tus habilidades y acompañarte en el desarrollo de una carrera en el sector inmobiliario,
                logrando ingresos que cambiarán tu vida. Estamos asociados con los desarrollos que tienen mayor crecimiento y
                vanguardia en sus esquemas de comercialización y pagos de comisiones; así mismo estaremos
                al pendiente de una capacitación y desarrollo en los sectores relacionados a la industria
                para que tú cuentes con los conocimientos del entorno inmobiliario en el país.
              </p>
            </div>
          </div>
        </div>
        <div class="panels-navigation text-center">
          <div class="nav-panel" data-sign="minus">
            <i class="fas fa-arrow-left my-2 anchor" style="cursor: pointer" href="#panel-1"></i>
          </div>
          <div class="nav-panel" data-sign="plus">
            <i class="fas fa-arrow-right my-2 anchor" style="cursor: pointer" href="#panel-3"></i>
          </div>
        </div>
      </div>
    </article>
    <article id="panel-3" class="panel pn3 full-screen s3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-xl-6 text-start" id="top">
            <p class="font-section">
              Forma parte de Mayan <br>
              Partners y crece tu <br>
              carrera rápidamente </p>
          </div>
          <div class="col-md-12 col-xl-6 eb">
            <p class="width1 pt-xl-5 pt-lg-3">
              Al formar parte de nuestra red de partners inmobiliarios obtendrás grandes beneficios
              que te<br>
              apoyarán a ti y a tu carrera profesional. Estos son algunos de nuestros diferenciadores y beneficios</p>
          </div>
          <div class="col-md-12 eb vista2">
            <div class="row">
              <div class="col-md-4 col-xl-2 separador1 space text-center">
                <img src="assets/img/partners/pr1.png" alt="" class="img-fluid tam" >
                <p class="text-center position-absolute my-lg-3 min  ">Comisiones <br>superiores a las <br>del mercado</p>
              </div>
              <div class="col-md-4 col-xl-2 separador1 space text-center">
                <img src="assets/img/partners/pr2.png" alt="" class="img-fluid tam" >
                <p class="text-center position-absolute my-lg-3 min">Acceso a nuestra<br>
                  plataforma <br>
                  multimedia con <br>
                  contenido de
                  <br>valor</p>
              </div>
              <div class="col-md-4 col-xl-2 separador1 space text-center">
                <img src="assets/img/partners/pr3.png" alt="" class="img-fluid tam" >
                <p class="text-center position-absolute my-lg-3 min">Contamos con <br>
                  una comunidad <br>
                  comercial a nivel <br>
                  nacional</p>
              </div>
              <div class="col-md-4 col-xl-2 separador1 space text-center">
                <img src="assets/img/partners/pr4.png" alt="" class="img-fluid tam" >
                <p class="text-center position-absolute my-lg-3 min">Te otorgamos <br>
                  mentoría, <br>
                  acompañamiento y <br>
                  asesoramiento <br>
                  profesional.</p>
              </div>
              <div class="col-md-4 col-xl-2 separador1 space text-center">
                <img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                <p class="text-center position-absolute my-lg-3 min">Vel adipiscing.</p>
              </div>
              <div class="col-md-4 col-xl-2 separador1 space text-center">
                <img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                <p class="text-center position-absolute my-lg-3 min">Vel adipiscing.</p>
              </div>
            </div>
          </div>
          <owl-carousel-o [options]="customOption" class="vistita">
            <ng-template carouselSlide>
             <div class="row">
               <div class="col-md-12 text-center separador1 space">
                 <img src="assets/img/partners/pr1.png" alt="" class="img-fluid tam mx-auto" >
                 <p class="text-center position-absolute my-lg-3 min mx-auto ">Comisiones <br>superiores a las <br>del mercado</p>
               </div>
             </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="row">
                <div class="col-md-12 text-center space separador1">
                  <img src="assets/img/partners/pr2.png" alt="" class="img-fluid tam mx-auto" >
                  <p class="text-center position-absolute my-lg-3 min mx-auto">Acceso a nuestra<br>
                    plataforma <br>
                    multimedia con <br>
                    contenido de
                    <br>valor</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="row">
                <div class="col-md-12 separador1 space">
                  <img src="assets/img/partners/pr3.png" alt="" class="img-fluid tam mx-auto" >
                  <p class="text-center position-absolute my-lg-3 min mx-auto">Contamos con <br>
                    una comunidad <br>
                    comercial a nivel <br>
                    nacional</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="row">
                <div class="col-md-12 separador1 space text-center">
                  <img src="assets/img/partners/pr4.png" alt="" class="img-fluid tam mx-auto" >
                  <p class="text-center position-absolute my-lg-3 min mx-auto">Te otorgamos <br>
                    mentoría, <br>
                    acompañamiento y <br>
                    asesoramiento <br>
                    profesional.</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
             <div class="row">
               <div class="col-md-12 separador1 space text-center">
                 <img src="assets/img/st1.png" alt="" class="img-fluid tam mx-auto" >
                 <p class="text-center position-absolute my-lg-3 min mx-auto">Vel adipiscing.</p>
               </div>
             </div>
            </ng-template>
            <ng-template carouselSlide>
            <div class="row">
              <div class="col-md-12 separador1 space text-center">
                <img src="assets/img/st1.png" alt="" class="img-fluid tam mx-auto" >
                <p class="text-center position-absolute my-lg-3 min mx-auto">Vel adipiscing.</p>
              </div>
            </div>
            </ng-template>
          </owl-carousel-o>
        </div>
        <div class="panels-navigation text-center">
          <div class="nav-panel navega" data-sign="minus">
            <i class="fas fa-arrow-left my-2 anchor" style="cursor: pointer" href="#panel-2"></i>
          </div>
        </div>
      </div>
    </article>
  </div>
  <!--
  <owl-carousel-o [options]="customOption">
    <ng-template carouselSlide>
      <div class="container-fluid s1">
        <div class="row ">
          <div class="col-md-6 text-start bt">
            <p class="font-section">
              Conoce Mayan Partners y <br>
              forma parte de la mayor
              <br>red de socios
              <br>inmobiliarios
            </p>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="eb bet">
                Mayan Partners, es una comunidad de profesionales inmobiliarios que buscan
                exponenciar sus habilidades y acompañarle en el desarrollo de una carrera
                en el sector inmobiliario, logrando ingresos que cambiarán su estilo de vida.
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container-fluid s2">
        <div class="row vista">
          <div class="col-md-12">
            <div class="row">
              <div class="offset-lg-6 col-md-12 col-lg-6 margin-right medio">
                <p class="font-section">
                  Nosotros te <br>
                  apoyamos en el <br>
                  desarrollo de tu <br>
                  carrera inmobiliaria</p>
              </div>
              <div class="offset-lg-6 col-md-6 medio">
                <div class="row">
                  <div class="col-md-10">
                    <p class="width ">
                      Buscamos potencializar tus habilidades y acompañarte en el desarrollo de una carrera en el sector inmobiliario,
                      logrando ingresos que cambiarán tu vida. Estamos asociados con los desarrollos que tienen mayor crecimiento y
                      vanguardia en sus esquemas de comercialización y pagos de comisiones; así mismo estaremos
                      al pendiente de una capacitación y desarrollo en los sectores relacionados a la industria
                      para que tú cuentes con los conocimientos del entorno inmobiliario en el país.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row vista1">
          <div class="col-md-6 text-start bt">
            <p class="font-section">
              Nosotros te <br>
              apoyamos en el <br>
              desarrollo de tu <br>
              carrera inmobiliaria</p>
          </div>
          <div class="row">
            <div class="col-md-8">
              <p class="eb">
                Buscamos potencializar tus habilidades y acompañarte en el desarrollo de una carrera en el sector inmobiliario,
                logrando ingresos que cambiarán tu vida. Estamos asociados con los desarrollos que tienen mayor crecimiento y
                vanguardia en sus esquemas de comercialización y pagos de comisiones; así mismo estaremos
                al pendiente de una capacitación y desarrollo en los sectores relacionados a la industria
                para que tú cuentes con los conocimientos del entorno inmobiliario en el país.
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container-fluid s3">
        <div class="row">
          <div class="col-md-12 col-xl-6 text-start" id="top">
            <p class="font-section">
              Forma parte de Mayan <br>
              Partners y crece tu <br>
              carrera rápidamente </p>
          </div>
          <div class="col-md-12 col-xl-6 eb">
            <p class="width1 pt-xl-5 pt-lg-3">
              Al formar parte de nuestra red de partners inmobiliarios obtendrás grandes beneficios
              que te<br>
              apoyarán a ti y a tu carrera profesional. Estos son algunos de nuestros diferenciadores y beneficios</p>
          </div>
          <div class="col-md-12 eb">
            <div class="row">
              <div class="col-md-4 col-xl-2 separador1 space ">
                    <img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                    <p class="text-center position-absolute my-3 min">Comisiones <br>superiores a las <br>del mercado</p>
              </div>
              <div class="col-md-4 col-xl-2 separador1 space">
                    <img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                    <p class="text-center position-absolute my-3 min">Acceso a nuestra<br>
                      plataforma <br>
                      multimedia con <br>
                      contenido de
                      <br>valor</p>
              </div>
              <div class="col-md-4 col-xl-2 separador1 space">
                    <img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                    <p class="text-center position-absolute my-3 min">Contamos con <br>
                      una comunidad <br>
                      comercial a nivel <br>
                      nacional</p>
              </div>
              <div class="col-md-4 col-xl-2 separador1 space">
                    <img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                    <p class="text-center position-absolute my-3 min">Te otorgamos <br>
                      mentoría, <br>
                      acompañamiento y <br>
                      asesoramiento <br>
                      profesional.</p>
              </div>
              <div class="col-md-4 col-xl-2 separador1 space">
                    <img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                    <p class="text-center position-absolute my-3 min">Vel adipiscing.</p>
              </div>
              <div class="col-md-4 col-xl-2 separador1 space">
                    <img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                    <p class="text-center position-absolute my-3 min">Vel adipiscing.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o> -->
</section>
<app-contacto></app-contacto>
