<app-menu class="d-none"></app-menu>
<div class="cursor"></div>
<section class="cursor-scale mini" id="panels">
    <div id="panels-container" style="width: 300%">
      <article id="panel-1" class="panel full-screen s1">
        <div class="container-fluid">
          <div class="row ">
            <div class="col-md-6 text-start bt">
              <p class="font-section">
                El complejo <br>
                eco-sustentable<br>
                del futuro.
              </p>
            </div>
            <div class="row">
              <div class="col-md-6 col-xl-3 ">
                <p class="eb">Boutique Ecochic Town es un complejo turístico y
                  residencial eco-sustentable. La estética y arquitectura de Boutique
                  Ecochic Town estará caracterizada por el estilo Boho Chic.
                </p>
              </div>
              <div class="col-md-6 col-xl-3">
                <p class="eb">Al invertir tendrás acceso alos grandes beneficios que obtienes al formar parte de esta sociedad,
                  entre ellos un grupo especializado para el arranque y funcionalidad activa en Boutique, asimismo acceso a residencias,
                  luxury condos y shopping center, todo con un estilo BohoChic y diferentes servicios. </p>
              </div>
            </div>
          </div>
          <div class="panels-navigation text-center">
            <div class="nav-panel" data-sign="plus">
              <i class="fas fa-arrow-right my-2 anchor" style="cursor: pointer" href="#panel-2"></i>
            </div>
          </div>
        </div>
      </article>
      <article id="panel-2" class="panel full-screen s2">
        <div class="container-fluid">
          <div class="row vista">
            <div class="col-md-12">
              <div class="row">
                <div class="offset-lg-6 col-md-12 col-lg-6 margin-right medio">
                  <p class="font-section">
                    Ubicado en 2 de las zonas con mayor crecimiento en el surreste de México.
                  </p>
                </div>
                <div class="offset-lg-6 col-md-6 medio">
                  <div class="row">
                    <div class="col-md-6">
                      <p class="width">
                        <b class="font-bold mb-2">Boutique Cancún</b><br>
                        Zona de mayor crecimiento en la Riviera Maya en donde despuntan las inversiones
                        nacionales e internacionales para el desarrollo
                        turístico e inmobiliario.
                        Nuestra prioridad es respetar la flora y fauna de la región poniéndola en los ojos del mundo</p>
                    </div>
                    <div class="col-md-6">
                      <p class="width">
                        <b class="font-bold mb-2">Boutique Celestún</b><br>
                        Dentro de la zona con mayor crecimiento en Celestún certificado como playa platino.
                        Paraíso ecoturístico que se localiza al oeste del estado de Yucatán.
                        Nuestra prioridad es respetar la flora y fauna de la región poniéndola en los ojos del mundo
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row vista1">
            <div class="col-md-6 text-start bt">
              <p class="font-section">
                Ubicado en 2 de las zonas con mayor crecimiento en el surreste de México.
              </p>
            </div>
            <div class="row">
              <div class="col-md-6 col-xl-3">
                <p class="eb">
                  <b class="font-bold mb-2">Boutique Cancún</b><br>
                  Zona de mayor crecimiento en la Riviera Maya en donde despuntan las inversiones
                  nacionales e internacionales para el desarrollo
                  turístico e inmobiliario.
                  Nuestra prioridad es respetar la flora y fauna de la región poniéndola en los ojos del mundo
                </p>
              </div>
              <div class="col-md-6 col-xl-3">
                <p class="eb">
                  <b class="font-bold mb-2">Boutique Celestún</b><br>
                  Dentro de la zona con mayor crecimiento en Celestún certificado como playa platino.
                  Paraíso ecoturístico que se localiza al oeste del estado de Yucatán.
                  Nuestra prioridad es respetar la flora y fauna de la región poniéndola en los ojos del mundo
                </p>
              </div>
            </div>
          </div>
          <div class="panels-navigation text-center">
            <div class="nav-panel" data-sign="minus">
              <i class="fas fa-arrow-left my-2 anchor" style="cursor: pointer" href="#panel-1"></i>
            </div>
            <div class="nav-panel" data-sign="plus">
              <i class="fas fa-arrow-right my-2 anchor" style="cursor: pointer" href="#panel-3"></i>
            </div>
          </div>
        </div>
      </article>
      <article id="panel-3" class="panel full-screen s3">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-md-12 col-lg-6 text-start bt prueba">
              <p class="font-section ">
                Amenidades tipo <br> premium para cada <br> cluster del desarrollo </p>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <p class="eb width scala">
                  Conoce el desarrollo con las mejores y más exclusivas amenidades del mercado.
                  Cada cluster del desarrollo, contará con amenidades tipo premium, para que los residentes y visitantes
                  vivan la mayor experiencia de eco-sustentabilidad.</div>
              <div class="col-xl-6 col-md-12 space1">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4 col-sm-6 separador1">
                        <img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                        <p class="text-center position-absolute my-3 espacio mx-lg-3">Jungle Gym.</p>
                      </div>
                      <div class="col-md-4 col-sm-6 separador1"><img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                        <p class="text-center position-absolute my-3 espacio">Huerto Orgánico.</p>
                      </div>
                      <div class="col-md-4 col-sm-6 separador1"><img src="assets/img/st1.png" alt="" class="img-fluid tam">
                        <p class="text-center position-absolute my-3 espacio mx-lg-2">Vel adipiscing.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-sm-6 separador1"><img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                        <p class="text-center position-absolute my-3 espacio  ">Jardín de <br> escultura.</p>
                      </div>
                      <div class="col-md-4 col-sm-6 separador1"><img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                        <p class="text-center position-absolute my-2 espacio">Salón para <br>eventos.</p>
                      </div>
                      <div class="col-md-4 col-sm-6 separador1"><img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                        <p class="text-center position-absolute my-3 espacio" >Senderos en la <br>selva maya.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-sm-6 separador1"><img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                        <p class="text-center position-absolute my-3 espacio">Ciclovías.</p>
                      </div>
                      <div class="col-md-4 col-sm-6 separador1"><img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                        <p class="text-center position-absolute my-3 espacio">Estaciones de <br> renta de <br>bicicletas.</p>
                      </div>
                      <div class="col-md-4 col-sm-6 separador1"><img src="assets/img/st1.png" alt="" class="img-fluid tam" >
                        <p class="text-center position-absolute my-3 espacio">Casetas de <br>seguridad y <br>registro.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panels-navigation text-center">
            <div class="nav-panel" data-sign="minus">
              <i class="fas fa-arrow-left my-2 anchor" style="cursor: pointer" href="#panel-2"></i>
            </div>
          </div>
        </div>
      </article>
    </div>
</section>
<section id="map" class="full-screen"></section>

