<app-menu></app-menu>
<section style="background: #F8F7F1;" class="py-5">
  <div class="container">
    <div class="row bg-white dimension">
      <div class="col-md-12">
        <p class="font-aviso text-start mt-5 mx-3">
          Aviso de privacidad
        </p>
        <p class="text-black mx-3">
          En <b style="font-weight: bold;" class="text-black">Boutique Ecochic Town</b> tomamos las medidas necesarias para proteger su privacidad. El presente Aviso de Privacidad explica las prácticas de recopilación y
          uso de datos personales conforme a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares,
          y aplicable para el sitio web <a href="https://boutique-towns.com" class="text-decoration-none">https://boutique-towns.com</a> (EL SITIO) y en general para todos los servicios que prestamos.
        </p>
        <p class="text-black mx-3">Usted manifiesta que acepta las prácticas de recopilación y uso de información descrita en este Aviso de Privacidad al
          interactuar virtualmente con <b style="font-weight: bold;" class="text-black">Boutique Ecochic Town</b>, ya sea a través de EL SITIO o vía correo electrónico.</p>
        <p class="text-black mx-3">
          Otros servicios de <b style="font-weight: bold;" class="text-black">Boutique Ecochic Town</b> pueden tener sus propios Avisos de Privacidad que de igual forma serán puestos a la vista de usted.
        </p>
      </div>
      <div class="col-md-12">
        <p class="font-aviso-subtitle mx-3">
          Recopilación de información
        </p>
        <p class="text-black mx-3">
          El responsable de la obtención de los datos personales es <b style="font-weight: bold;" class="text-black">Boutique Ecochic Town</b>, quien se compromete a respetar lo estipulado en este Aviso, mismo que es aplicable exclusivamente respecto a los datos
          personales que se recaban a través de EL SITIO, los perfiles de redes sociales
          y la información proporcionada por nuestros clientes.
        </p>
        <p class="text-black mx-3">La información que recabamos es aquella que le identifica personalmente y que nos permite ponernos en contacto con usted
          cuando sea necesario para proporcionar información y publicidad respecto a varios servicios.</p>
        <p class="text-black mx-3">La información personal recopilada puede incluir su nombre, dirección de correo electrónico y número telefónico.<b style="font-weight: bold;" class="text-black">Boutique Ecochic Town</b>
          no recaba datos personales sensibles.</p>
        <p class="text-black mx-3">
          EL SITIO puede recopilar información acerca de su visita, como el nombre del proveedor de servicios Internet y la dirección IP (Protocolo de Internet) mediante la cual tiene acceso a Internet; la fecha y la hora a la que acceda al SITIO y la dirección de Internet
          del sitio Web desde el que ha llegado al nuestro. Esta información se utiliza para analizar tendencias y nos ayuda a mejorar y a administrar nuestro SITIO.
        </p>
      </div>
      <div class="col-md-12">
        <p class="font-aviso-subtitle mx-3">
          Uso de la información personal
        </p>
        <p class="text-black mx-3">
          La información personal en manos de <b style="font-weight: bold;" class="text-black">Boutique Ecochic Town</b> se utilizará para hacerle llegar información o publicidad respecto a varios servicios.
          <b style="font-weight: bold;" class="text-black">Boutique Ecochic Town</b> sólo podrá divulgar su información personal si así debe hacerlo por ley o si de buena fe cree que esa acción es necesaria para alguno o varios de los siguientes puntos:
        </p>
        <p class="text-black mx-3">
          • Cumplir la ley o los mandatos de los procesos legales relacionados con <b style="font-weight: bold;" class="text-black">Boutique Ecochic Town</b> o el SITIO <br>
          • Proteger y defender los derechos de propiedad de Boutique Ecochic Town <br>
          • Actuar en circunstancias urgentes para proteger la seguridad personal de los empleados de Boutique Ecochic Town o de miembros del público.
        </p>
        <p style="font-weight: 600;" class="text-black mx-3">
          Boutique Ecochic Town no comparte ni vende la información personal que resguarda ni la base de datos que posee.
        </p>
      </div>
      <div class="col-md-12">
        <p class="font-aviso-subtitle mx-3">
          Derechos ARCO (Acceso, Rectificación, Cancelación y Oposición)
        </p>
        <p class="text-black mx-3">En cualquier momento puede solicitar el acceso, rectificación, cancelación u oposición, (Derechos ARCO)
          respecto de los datos personales que le conciernen. La solicitud de deberá contener y acompañar lo siguiente:</p>
        <p class="text-black mx-3">
         • El nombre del titular y dirección de correo electrónico para comunicarle la respuesta a su solicitud; <br>
         • Los documentos que acrediten la identidad o, en su caso, la representación legal del titular; <br>
         • La descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos antes mencionados, y <br>
         • Cualquier otro elemento o documento que facilite la localización de los datos personales.
        </p>
        <p class="text-black mx-3 mb-5">
          <b style="font-weight: bold" class="text-black">Boutique Ecochic Town</b> puede enviar periódicamente correos electrónicos con información sobre temas de seguridad,
          de servicio técnico respecto a un servicio o como confirmación de que su correo electrónico se encuentra activo. En algunos servicios ofrecidos
          por <a href="https://boutique-towns.com" class="text-decoration-none">https://boutique-towns.com</a>, el contacto con el cliente es una parte intrínseca del servicio.
          Usted podrá cancelar la suscripción a estos mensajes ejerciendo sus derechos ARCO enviando un correo electrónico a la dirección contacto@boutique-towns.com
        </p>
      </div>
    </div>
  </div>
</section>
