<footer class="text-white text-start" style="background: url('assets/img/footer.png')">
<div class="container-fluid pt-5">
  <section class="pt-4">
    <!--Grid row-->
    <div class="row mx-5 margin">
      <!--Grid column-->
      <div class="col-lg-4 col-md-4 col-sm-12 mb-6 mb-md-6">
        <ul class="list-unstyled mb-4">
          <li class="py-3">
            <a  routerLinkActive="router-link-active" class="text-white">
              <img src="assets/img/BoutiqueEctownwhite%202.png" class="img-fluid">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 mb-6 mb-md-6">
      </div>
      <div class="col-lg-4 col-md-4 mb-6 mb-md-6">
        <ul class="list-unstyled mb-4">
          <li class="pt-lg-5">
            <p class="text-white">contacto@boutique-towns.com</p>
          </li>
          <li class="text-white"><p class="w-50">Av. Líbano, Plaza Líbano Calle 20 39a Local 3, Col. México Norte C.P 97125 - Mérida. Yucatán </p></li>
          <li><p class="text-white"> +52 999 828 4829</p></li>
          <li><p><a [routerLink]="['/aviso-de-privacidad']" class="text-decoration-none">Aviso de privacidad</a></p></li>
        </ul>
      </div>
    </div>
    <!--Grid row-->
  </section>
  <div class="text-center p-3 text-white">
    ©️ Todos los derechos reservados para el uso intelectual de <a href="#" class="enlaces">Boutique Ecochic Town</a> 2022
    | Diseño y producción por <a class="enlaces" href="http://www.xiaexperience.com" target="_blank" style="text-decoration: none;"><img src="assets/img/Xia.png" class="img-fluid" alt="XIA" width="30"></a>
  </div>
</div>
</footer>
